@import "utilities/variables";
/* seccion contacto*/
main{
    @extend %mainBack;
   .mainContactoTitulo{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
   } 
   form{
        margin-top: 10px;
     margin-left: 100px;
      margin-right: 100px;
        margin-bottom: 30px;
     background-color: rgb(142, 131, 131);
     font-weight: bold;
     text-align: center;
     
       fieldset{
           .formTituloContacto{
            font-weight: bold;
            margin: 10px;
            text-align: center;
               .nombre{
                margin: 5px;
               }
               .apellido{
                margin: 5px;
               }
               .email{
                margin: 5px;
               }
               .provincia{
                margin: 5px;
               }
               .genero{
                margin: 10px;
               }
           }
       }
   }
}