@import "utilities/variables";
/* seccion sitios */

.mainSitios{
    @extend %mainBack;
    .sitiosMainTitulo{
    padding: 25px 10px 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid black;
    font-weight: bold;
    }
    .sitiosMainLinks{
      ul{
         height: 80vh;
            display: grid;
            grid-template-columns: 1fr 1fr ;
         grid-template-rows: 1fr 1fr 1fr;
         grid-template-areas: "senado saij "
                             "corte infoleg"
                             "diputados consejo";
         margin-left: 100px;
         margin-right: 100px;
         .senado{
            grid-area: senado;
            list-style: none;
            width: 100%;
            height: 60%;
            margin-right: 5px;
          }
         .saij{
            grid-area: saij;
            list-style: none;
            width: 100%;
            height: 60%;
             margin-left: 5px;
          }
         .infoleg{
            grid-area: infoleg;
            list-style: none;
            width: 100%;
            height: 50%;
            margin-left: 5px;
          }
         .corte{
            grid-area: corte;
            list-style: none;
            width: 100%;
            height:50%;
            margin-right: 5px;
         }
          .diputados{
            grid-area: diputados;
            list-style: none;
            height: 60%;
            width: 100%;
            margin-right: 5px;
          }
         .consejo{
            grid-area: consejo;
            list-style: none;
            height: 60%;
            width: 100%;
            margin-left: 5px;
             }
         }
    }     
}
@media only screen and (min-width:1024px){
    .mainSitios{
        .sitiosMainTitulo{
            padding-top: 20px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 30px;
            border-bottom: 1px solid black;
        }
        .sitiosMainLinks{
          ul{
                height: 70vh;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "senado saij infoleg"
                                 "corte diputados consejo";
            margin-top: 100px;                     
            margin-left: 100px;
            margin-right: 100px;
             .senado{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: row;
              }
             .saij{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: row;
              }
             .infoleg{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: row;
              }
             .corte{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: row;
             }
              .diputados{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: row;
              }
             .consejo{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: row;
                 }
             }
        }     
    }
}