$color-back: linear-gradient(to left, rgb(58, 52, 52), whitesmoke);

@mixin size ($width, $height){
    width: $width;
    height: $height;
}
%mainBack{
    background-image: url(../img/columnas.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;
}
%indexText{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    &:hover{
        background-color: black;
        transform: scale(1.1);
        box-shadow: 2px 2px black;
        transition: 1s;
    } 
}

